.card {
    border: 1px solid #DB504A;
    padding: 20px;
    width: 500px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}
.card i {
    margin: 0px auto;
    font-size: 3em;
}

.card p {
    text-align: center;
}

@media (max-width: 739px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}