@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import 'reset.css';
@import 'container.css';
@import 'menu.css';
@import 'hero.css';
@import 'flip-card.css';
@import 'card-list.css';
@import 'footer.css';
.sobre {
    padding: 60px 0;
    background-color: #fff;
}
.sobre p{
    font-family: 'Roboto';
    letter-spacing: .1em;
    color: #252525;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 1.5em;
    text-align: start;
}
.sobre span {
    color: #DB504A;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
}

.habilidade {
   padding: 60px 0;
   background-color: #ddd;
}
.servicos {
    padding: 60px 0;
    background-color: #fff;
}
.subtitle {
    color: #DB504A;
    letter-spacing: .2rem; 
    font-size: 3em;
    margin-left: 25px;
    font-family: 'Shadows Into Light', cursive;
}

@media (max-width: 739px) {
    .subtitle {
        margin: 0 auto;
        color: #DB504A;
        letter-spacing: .3rem; 
        font-size: 3em;
        font-family: 'Shadows Into Light', cursive;
    }
}


